<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1, shrink-to-fit=no”>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Cart</title>
    <style>
        body {
            background-image: url("../fon.png");
            font-family: Arial, sans-serif;
            font-size: xx-large;
            background-color: #e9dfb1;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
        }
        .invert {
            filter: invert(1);
        }
        .outside {
            margin-right: 10px;
            background-color: #7a0711;
        }
        .navbar {
            background-color: #573d38;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="invert" id="LOGO" src="../template.png" alt="LOGO" draggable="false" height="60"/>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {{#unless loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Log in</a>
                    </li>
                {{/unless}}
                <li class="nav-item">
                    <a class="nav-link" href="/content">Continue shopping</a>
                </li>
            </ul>
            <button class="btn outside" type="submit">Log out</button>
        </div>
    </div>
</nav>

<div class="container m-3 mt-5">
    <div class="row m-3" id="cart">
        <!-- Cart items will be dynamically added here -->
    </div>
    <div class="card-body">
        <h5 class="card-title" id="price"></h5>
        <button id="checkoutBtn" class="btn btn-success">Buy</button>
    </div>
</div>

<script>
    function fullCart(items) {
        const body = document.querySelector('#cart');
        let total_price = 0;

        for (let i = 0; i < items.length; i++) {
            const cell = document.createElement('div');
            const item = items[i];
            cell.className = 'col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 m-3';
            cell.innerHTML = `
                    <div class="card text-center" style="background-color: #e9dfb1; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
                        <img class="card-img-top p-3" src=${item.image} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><strong>${item.album}</strong></h5>
                            <p class="card-text"><strong>${item.artist}</strong></p>
                            <p class="card-text">${item.price} €</p>
                            <div class="quantity-selector">
                                <button class="btn btn-primary" onclick="changeQuantity(${item.order_item_id}, ${item.count} - 1)">-</button>
                                <span class="mx-2" id="quantity${item.order_item_id}">${item.count}</span>
                                <button class="btn btn-primary" onclick="changeQuantity(${item.order_item_id}, ${item.count} + 1)">+</button>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger float-end" onclick="deleteCartItem(${item.order_item_id})">Delete</button>
                        </div>
                    </div>
                `;
            body.appendChild(cell);
            total_price += item.price * item.count;
        }

        const price = document.querySelector('#price');
        price.innerHTML = `Total: ${total_price.toFixed(2)} €`;
    }

    function deleteCartItem(id) {
        fetch(`/api/cart/${id}`, {
            method: 'DELETE'
        })
                .then(_ => {
                    fetch('/api/cart')
                            .then(response => response.json())
                            .then(data => {
                                reloadPage()
                                fullCart(data)
                            })
                            .catch(error => console.log(error));
                })
                .catch(error => console.log(error));
    }

    function reloadPage() {
        window.location.href = '/cart';
    }

    function fetchProductDetailsAndRenderCart(orderItems) {
        const productIds = orderItems.map((item) => item.product_id);
        fetch('/api/items')
                .then(response => response.json())
                .then(products => {
                    const itemsWithDetails = orderItems.map((item) => {
                        const product = products.find((product) => product.id === item.product_id);
                        return {
                            ...item,
                            ...product,
                        };
                    });
                    fullCart(itemsWithDetails);
                })
                .catch(error => console.log(error));
    }

    fetch('/api/cart')
            .then(response => response.json())
            .then(data => {
                fullCart(data);
            })
            .catch(error => console.log(error));

    // Function to update the quantity of an item in the cart
    function changeQuantity(orderItemId, newQuantity) {
        // Your logic to update the item count in the cart on the server
        // This function should make an API call to update the item count in the database
        // You can use fetch or any other method to communicate with your server
        // Example API call:
        if (newQuantity < 1) {
            return;
        }
        fetch(`/api/cart/update_count/${orderItemId}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                quantity: newQuantity
            }),
        })
                .then(_ => {
                    fetch('/api/cart')
                            .then(response => response.json())
                            .then(data => {
                                reloadPage()
                                fullCart(data);
                            })
                            .catch(error => console.log(error));
                })
                .catch(error => console.log(error));
    }

    // Function to update cart status to "In Progress"
    function updateCartStatus() {
        fetch('/api/orders/update_cart_status_to_in_progress', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({}),
        })
                .then(_ => {
                    fetch('/api/cart')
                            .then(response => response.json())
                            .then(data => {
                                reloadPage()
                                fullCart(data);
                            })
                            .catch(error => console.log(error));
                })
                .catch(error => console.log(error));
    }

    // Add event listener to the "Checkout" button
    const checkoutBtn = document.getElementById('checkoutBtn');
    checkoutBtn.addEventListener('click', updateCartStatus);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
